.techcard{
    width: 18.125rem;
    height: 5.3125rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3.125rem 0 1.25rem;


    border: 1px solid var(--color-white-50);
    border-radius: 25px;
}

